---
---
.bg-arduino {
	background: #bd79d1;
}
.bg-assembly {
	background: #6e4c13;
}
.bg-c {
	background: #555555;
}
.bg-cs {
	background: #178600;
}
.bg-css {
	background: #563d7c;
}
.bg-cpp {
	background: #f34b7d;
}
.bg-go {
	background: #7fd5ea;
}
.bg-html {
	background: #e44b23;
}
.bg-kicad {
	background: #ca972e;
}
.bg-lua {
	background: #000080;
}
.bg-java {
	background: #b07219;
}
.bg-javascript {
	background: #f1e05a;
}
.bg-php {
	background: #4f5d95;
}
.bg-python {
	background: #3572a5;
}
.bg-rust {
	background: #dea584;
}
.bg-smali {
	background: #cccccc;
}
.bg-swift {
	background: #ffac45;
}
.bg-three-js {
	background: #444444;
}
.bg-typescript {
	background: #2b7489;
}
.bg-z80-assembly {
	background: #6e4c13;
}

body {
	border-top: solid 4px #627D98;
}

html, body {
	font-family: freight-text-pro, sans-serif;
	font-weight: 400;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: ff-meta-serif-web-pro, sans-serif;
	font-weight: 300;
}

.btn, .lead, .jumbotron {
	font-family: proxima-nova, sans-serif;
}

pre {
	padding: 10px;
}

code {
	background: #f8f8f8;
}

noscript {
	background: #f1e05a;
	display: block;
	padding: 5px;
	text-align: center;
	width: 100%;
}
.noscript-subtext {
	font-size: 14px;
	font-style: italic;
}

nav.navbar {
	font-family: proxima-nova, sans-serif;
	display: block;
	line-height: 1.2;

	.navbar-group {
		margin: 0 auto;
		width: 20rem;

		.navbar-brand {
			display: inline-block;
			font-size: 1.5rem;
			text-align: center;
			width: 100%;
		}
		.navbar-nav {
			font-size: 1rem;
			margin: 0 auto;
			justify-content: center;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;

			li {
				padding: 0 0.5rem;
			}
			li:first-child a {
				padding-left: 0;
			}
			li:last-child a {
				padding-right: 0;
			}
		}
	}
}

.title {
	font-style: italic;
	margin-top: 0.75rem;
	text-align: center;
}
.title-rss {
	font-size: 18px;
}

.post-info {
	margin-bottom: 1rem;
}