.bg-arduino {
	background: #bd79d1;
}
.bg-assembly {
	background: #6e4c13;
}
.bg-c {
	background: #555555;
}
.bg-cs {
	background: #178600;
}
.bg-css {
	background: #563d7c;
}
.bg-cpp {
	background: #f34b7d;
}
.bg-java {
	background: #b07219;
}
.bg-go {
	background: #375eab;
}
.bg-html {
	background: #e44b23;
}
.bg-javascript {
	background: #f1e05a;
}
.bg-swift {
	background: #ffac45;
}

pre {
	padding: 10px;
}

code {
	background: #f8f8f8;
}

.title {
	margin-top: 10px;
}
.title-rss {
	font-size: 18px;
}