---
---

@each $name, $color in (
	"arduino": "bd79d1",
	"amazon-api-gateway": "4d27a8",
	"assembly": "6e4c13",
	"aws-lambda": "ff9900",
	"c": "555555",
	"cs": "178600",
	"css": "563d7c",
	"cpp": "f34b7d",
	"d-bus": "3b80ae",
	"freertos": "8cc552",
	"go": "7fd5ea",
	"html": "e44b23",
	"kicad": "ca972e",
	"lua": "000080",
	"metal": "00ff9f",
	"mysql": "f29111",
	"java": "b07219",
	"javascript": "f1e05a",
	"objective-c": "438eff",
	"objective-cpp": "6866fb",
	"opengl": "5381ac",
	"opengl-es": "ba2a8d",
	"php": "4f5d95",
	"preact": "673ab8",
	"python": "3572a5",
	"redis": "d92b21",
	"renderscript": "cccccc",
	"risc-v": "232e72",
	"rust": "dea584",
	"scss": "C6538C",
	"sdl2": "40586e",
	"smali": "cccccc",
	"swift": "ffac45",
	"terraform": "623ce4",
	"three-js": "444444",
	"typescript": "2b7489",
	"z80-assembly": "6e4c13"
) {
	.bg-#{$name} {
		background: #{"#" + $color};
	}
}

body {
	border-top: solid 4px #627D98;
}

html, body {
	font-family: freight-text-pro, sans-serif;
	font-weight: 400;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: ff-meta-serif-web-pro, sans-serif;
	font-weight: 300;
}

.btn, .lead, .jumbotron {
	font-family: proxima-nova, sans-serif;
}

pre {
	padding: 10px;
}

code {
	background: #f8f8f8;
}

noscript {
	background: #f1e05a;
	display: block;
	padding: 5px;
	text-align: center;
	width: 100%;
}
.noscript-subtext {
	font-size: 14px;
	font-style: italic;
}

nav.navbar {
	font-family: proxima-nova, sans-serif;
	display: block;
	line-height: 1.2;

	.navbar-group {
		margin: 0 auto;
		width: 20rem;

		.navbar-brand {
			display: inline-block;
			font-size: 1.5rem;
			text-align: center;
			width: 100%;
		}
		.navbar-nav {
			font-size: 1rem;
			margin: 0 auto;
			justify-content: center;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;

			li {
				padding: 0 0.5rem;
			}
			li:first-child a {
				padding-left: 0;
			}
			li:last-child a {
				padding-right: 0;
			}
		}
	}
}

.title {
	font-style: italic;
	margin-top: 0.75rem;
	text-align: center;
}
.title-rss {
	font-size: 18px;
}

.post-info {
	margin-bottom: 1rem;
}