.bg-arduino {
	background: #bd79d1;
}
.bg-assembly {
	background: #6e4c13;
}
.bg-c {
	background: #555555;
}
.bg-cs {
	background: #178600;
}
.bg-css {
	background: #563d7c;
}
.bg-cpp {
	background: #f34b7d;
}
.bg-go {
	background: #375eab;
}
.bg-html {
	background: #e44b23;
}
.bg-kicad {
	background: #ca972e;
}
.bg-java {
	background: #b07219;
}
.bg-javascript {
	background: #f1e05a;
}
.bg-python {
	background: #3572a5;
}
.bg-smali {
	background: #cccccc;
}
.bg-swift {
	background: #ffac45;
}
.bg-z80-assembly {
	background: #6e4c13;
}

html, body {
	font-family: "Hanken Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Geomanist", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 300;
}

.btn, .lead, .jumbotron {
	font-family: "Geomanist", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

pre {
	padding: 10px;
}

code {
	background: #f8f8f8;
}

noscript {
	background: #f1e05a;
	display: block;
	padding: 5px;
	text-align: center;
	width: 100%;
}
.noscript-subtext {
	font-size: 14px;
	font-style: italic;
}

.title {
	margin-top: 10px;
}
.title-rss {
	font-size: 18px;
}