@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-SemiBold.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-SemiBold.woff') format('woff'),
        url('../fonts/HankenGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Regular.woff') format('woff'),
        url('../fonts/HankenGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-MediumItalic.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-MediumItalic.woff') format('woff'),
        url('../fonts/HankenGrotesk-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Bold.woff') format('woff'),
        url('../fonts/HankenGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-LightItalic.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-LightItalic.woff') format('woff'),
        url('../fonts/HankenGrotesk-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-Light.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Light.woff') format('woff'),
        url('../fonts/HankenGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Medium.woff') format('woff'),
        url('../fonts/HankenGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-BoldItalic.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-BoldItalic.woff') format('woff'),
        url('../fonts/HankenGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-SemiBoldItalic.woff') format('woff'),
        url('../fonts/HankenGrotesk-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-Italic.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Italic.woff') format('woff'),
        url('../fonts/HankenGrotesk-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/Geomanist-Regular.woff2') format('woff2'),
        url('../fonts/Geomanist-Regular.woff') format('woff'),
        url('../fonts/Geomanist-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/Geomanist-Italic.woff2') format('woff2'),
        url('../fonts/Geomanist-Italic.woff') format('woff'),
        url('../fonts/Geomanist-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}