@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-SemiBold.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-SemiBold.woff') format('woff'),
        url('../fonts/HankenGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Regular.woff') format('woff'),
        url('../fonts/HankenGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-MediumItalic.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-MediumItalic.woff') format('woff'),
        url('../fonts/HankenGrotesk-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Bold.woff') format('woff'),
        url('../fonts/HankenGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-LightItalic.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-LightItalic.woff') format('woff'),
        url('../fonts/HankenGrotesk-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-Light.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Light.woff') format('woff'),
        url('../fonts/HankenGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Medium.woff') format('woff'),
        url('../fonts/HankenGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-BoldItalic.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-BoldItalic.woff') format('woff'),
        url('../fonts/HankenGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-SemiBoldItalic.woff') format('woff'),
        url('../fonts/HankenGrotesk-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-Italic.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Italic.woff') format('woff'),
        url('../fonts/HankenGrotesk-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Aileron-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Aileron-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Heavy.woff2') format('woff2'),
        url('../fonts/Aileron-Heavy.woff') format('woff'),
        url('../fonts/Aileron-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-UltraLightItalic.woff2') format('woff2'),
        url('../fonts/Aileron-UltraLightItalic.woff') format('woff'),
        url('../fonts/Aileron-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Light.woff2') format('woff2'),
        url('../fonts/Aileron-Light.woff') format('woff'),
        url('../fonts/Aileron-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-SemiBold.woff2') format('woff2'),
        url('../fonts/Aileron-SemiBold.woff') format('woff'),
        url('../fonts/Aileron-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Bold.woff2') format('woff2'),
        url('../fonts/Aileron-Bold.woff') format('woff'),
        url('../fonts/Aileron-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-LightItalic.woff2') format('woff2'),
        url('../fonts/Aileron-LightItalic.woff') format('woff'),
        url('../fonts/Aileron-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-BlackItalic.woff2') format('woff2'),
        url('../fonts/Aileron-BlackItalic.woff') format('woff'),
        url('../fonts/Aileron-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-ThinItalic.woff2') format('woff2'),
        url('../fonts/Aileron-ThinItalic.woff') format('woff'),
        url('../fonts/Aileron-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Black.woff2') format('woff2'),
        url('../fonts/Aileron-Black.woff') format('woff'),
        url('../fonts/Aileron-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-UltraLight.woff2') format('woff2'),
        url('../fonts/Aileron-UltraLight.woff') format('woff'),
        url('../fonts/Aileron-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Regular.woff2') format('woff2'),
        url('../fonts/Aileron-Regular.woff') format('woff'),
        url('../fonts/Aileron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Italic.woff2') format('woff2'),
        url('../fonts/Aileron-Italic.woff') format('woff'),
        url('../fonts/Aileron-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Thin.woff2') format('woff2'),
        url('../fonts/Aileron-Thin.woff') format('woff'),
        url('../fonts/Aileron-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-BoldItalic.woff2') format('woff2'),
        url('../fonts/Aileron-BoldItalic.woff') format('woff'),
        url('../fonts/Aileron-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-HeavyItalic.woff2') format('woff2'),
        url('../fonts/Aileron-HeavyItalic.woff') format('woff'),
        url('../fonts/Aileron-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

