.jumbotron {
	margin-bottom: 0;
}

.home-container {
	padding: 0 4rem;
	width: 100%;
}

.home-avatar {
	display: inline-block;
	width: 8rem;
	vertical-align: top;
}

.home-avatar img {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	width: 8rem;
	vertical-align: text-top;
}

.home-info {
	display: inline-block;
	width: 40rem;
	margin-left: 1rem;
}

.home-name {
	font-size: 3rem;
	margin: 0;
}

.home-details {
	font-size: 1.5rem;
	margin: 0.25rem 0 0 0;
}

.home-links {
	font-size: 1rem;
	margin: 0.5rem 0;
}

.hero {
	background-size: cover;
	background-position: center;
	padding: 3rem 0;
}

.hero-text {
	background: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 1rem;
}

#made {
	background-image: url(/assets/computer/computer.jpg);
}

#written {
	background-image: url(/assets/iotaseed/seedgen.png);
}