---
---
html, body {
	height: 100%;
}

.homeContainer, .homeContainer > .row {
	height: 100%;
}

.homeContainer > .row > div {
	padding: 2rem 2rem;

	&.homeInfoBar {
		padding-bottom: 1.25rem;

		@media (min-width: 768px) {
			padding-bottom: 2rem;
		}
	}

	&.homeDetails {
		padding-top: 1.25rem;

		@media (min-width: 768px) {
			padding-top: 2rem;
		}
	}
}

.homeAvatarRow {
	margin-bottom: 1rem;
}

.homeLinks {
	font-size: 1.2rem;

	.homeLinkGroup {
		margin-top: 0.75rem;
	}

	.homeLinksExtra {
		summary {
			display: inline;
			user-select: none;
			color: #666;

			i {
				transform: rotate(0);
				transition: transform 0.2s;
			}
		}
	}

	.homeLinksExtra[open] summary i {
		transform: rotate(90deg);
	}

	.homeLinksExtra::details-content {
		opacity: 0;
		transition: opacity 0.2s;
	}

	.homeLinksExtra[open]::details-content {
		opacity: 1;
	}
}

.homeIntro {
	font-size: 1.25rem;
}

.actionBox {
	display: flex;
	color: inherit;

	border: solid 1px #627d98;

	margin-top: 1.25rem;

	.actionBoxImage {
		min-height: 150px;
		background-size: cover;
		background-position: bottom;
		flex: 0 0 100px;

		@media (min-width: 768px) {
			flex-basis: 150px;
		}

		@media (min-width: 992px) {
			flex-basis: 200px;
		}
	}

	.actionBoxImageProjects {
		background-image: url(/img/projects/phone.png);
	}

	.actionBoxImagePosts {
		background-image: url(/assets/computer/computer.jpg);
	}

	.actionBoxDetails {
		padding: 1rem;

		.actionBoxCta {
			font-style: italic;
			margin-top: 0.25rem;
			margin-bottom: 0.25rem;
		}
	}
}

.actionBox:hover {
	text-decoration: none;
}