.project {
	border-bottom: solid 1px #ccc;
	display: table;
	padding: 20px 10px;
	width: 100%;
	min-height: 230px;
}
.project-container {
	display: table-cell;
    vertical-align: middle;
}
.project-image {
	width: 100%;
	max-width: 250px;
}
.project-name {
	font-size: 24px;
}
.project-technology {
	display: inline-block;
	font-size: 14px;
	margin-left: 5px;
}
.project-technology-item {
	display: inline-block;
	margin-right: 5px;
}
.project-technology-icon {
	border-radius: 100%;
	display: inline-block;
	width: 12px;
	height: 12px;
}
.project-award, .project-oss {
	color: #222;
	font-size: 14px;
}
.project-details {
	margin-top: 5px;
	margin-bottom: 5px;
}