.post-details {
	margin-bottom: 8px;
}
.post img, .post video {
	width: 100%;
}
.post .img-side {
	float: left;
	width: auto;
}
.h2, h2 {
	clear: both;
}
.post-image {
	width: initial;
	margin: 0.5rem;
}
.post-image-right {
	float: right;
	clear: right;
}
.post-image img {
	width: initial;
}
.post-image figcaption {
	font-style: italic;
	margin-top: 0.5rem;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.post-image, .post-image-right {
		display: block;
		float: none;
		clear: both;
		width: 100%;
	}
	.post-image img {
		display: block;
		margin: 0 auto;
		max-width: 100% !important;
	}
}