.project-small-row, .project {
	border-bottom: solid 1px #ccc;
	padding: 20px 10px;
}

.project {
	display: block;
	width: 100%;
	min-height: 230px;
	transition: 0.2s background-color;
}
.project.selected {
	background: #ddd;
}
.project.feature {
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 1rem;
	min-height: auto;
	flex-basis: calc(50% - 2rem);
	padding: 0;
	position: relative;
}
.project.feature .row {
	margin: 0;
}
.project.feature .row .col-md-3, .project.feature .row .col-md-9 {
	padding: 0;
}

.project.feature .background {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;

	z-index: -1;

	background-position: left top;
	background-size: cover;
}
@media screen and (min-width: 992px) {
	.project.feature .background.background-big {
		background-size: 250%;
	}
}
.project.feature .background.background-centered {
	background-position: center;
}
.project.feature .project-expand-content {
	display: none;
}
.project.feature .project-name {
	font-size: 1.75rem;
}
.project.feature {
	font-size: 1.1rem;
}
.project.feature .project-fact, .project.feature .project-technology-item {
	font-size: 1rem;
}

.project-feature-info {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	min-height: 250px;
	padding: 1rem;
	z-index: 1;
}

#projectDetailsModal .modal-dialog {
	max-width: 650px;
}

.project-container {
	display: block;
}
.project-image {
	width: 100%;
	max-width: 250px;
}
.project-name {
	display: inline-block;
	font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.25;
}
.project-subtitle {
	display: inline-block;
	font-style: italic;
	font-size: 1.3rem;
	/* margin-left: 0.5rem; */
}
.project-subtitle:before {
	content: "\2014";
}
.project-technology {
	display: block;
	font-size: 1rem;
	font-weight: 300;
}
.project-technology-item {
	display: inline-block;
	margin-right: 0.4rem;
}
.project-technology-icon {
	border-radius: 100%;
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	margin-right: 0.3rem;
}
.project-details {
	margin-top: 0.1rem;
}
.project-facts {
	font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin-top: 0.25rem;
}
.project-fact {
	font-weight: 400;
}
.project-actions {
	height: 40px;
	margin-top: 0.5rem;
}
.project-actions .btn {
	display: block;
	float: left;
	margin-right: 5px;
}
.project-app-badge {
	display: block;
	float: left;
	height: 40px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.project-app-badge-ios {
	background-image: url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg);
	width: 135px;
}
.project-app-badge-android {
	background-image: url(https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png);
	background-position: -9px center;
	width: 150px;
}

.project-expand-trigger {
	margin: 5px 0;
}

.project-expand-content {
	padding-top: 10px;
	overflow: hidden;
	transition: 0.2s max-height;
}
.project-expand-content h1 {
	font-size: 22px;
}