.project-small-row, .project {
	border-bottom: solid 1px #ccc;
	padding: 20px 10px;
}

.project {
	display: table;
	width: 100%;
	min-height: 230px;
	transition: 0.2s background-color;
}
.project.selected {
	background: #ddd;
}
.project.feature {
	background-position: center;
	background-size: cover;
	height: 400px;
	position: relative;
}

.project.feature .blurry-background {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;

	background-position: center;
	background-size: cover;

	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}
.project.feature .project-expand-content {
	display: none;
}

.project-feature-overlay {
	background: rgba(0, 0, 0, 0.8);
	color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	padding: 10px;
	z-index: 1;
}

#projectDetailsModal .modal-dialog {
	max-width: 650px;
}

.project-container {
	display: table-cell;
    vertical-align: middle;
}
.project-image {
	width: 100%;
	max-width: 250px;
}
.project-name {
	font-size: 24px;
}
.project-technology {
	display: inline-block;
	font-size: 14px;
	margin-left: 5px;
}
.project-technology-item {
	display: inline-block;
	margin-right: 5px;
}
.project-technology-icon {
	border-radius: 100%;
	display: inline-block;
	width: 12px;
	height: 12px;
}
.project-archived, .project-award, .project-oss {
	font-size: 14px;
}
.project-details {
	margin-top: 5px;
	margin-bottom: 5px;
}
.project-app-badge-ios {
	position: relative;
	top: 16px;
	margin-left: 10px;
}
.project-app-badge-android {
	width: 150px;
}

.project-expand-trigger {
	margin: 5px 0;
}

.project-expand-content {
	padding-top: 10px;
	overflow: hidden;
	transition: 0.2s max-height;
}
.project-expand-content h1 {
	font-size: 22px;
}