---
title: Projects
layout: base
css: /css/projects.css
js: /js/projects.js
---
{% assign projects_sorted = site.projects | sort: 'index', 'last' %}

<div class="container">
	{% for project in projects_sorted %}
	{% if project.feature != true %}
	{% continue %}
	{% endif %}
	<div class="project feature">
		<div class="row">
			<div class="col-md-3">
				<div class="background {% if project.center_bg %}background-centered{% endif %}" style="background-image: url(/img/{{ project.path | replace: "_", "" | replace: ".md", ".png" }})"></div>
			</div>
			<div class="col-md-9">
				<div class="project-feature-info">
					{% include project_info.html %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="container">
	{% for project in projects_sorted %}
	{% if project.hidden or project.small or project.feature %}
	{% continue %}
	{% endif %}
	<div class="project">
		<div class="project-container">
			<div class="row">
				<div class="col-md-3">
					{% include project_image.html %}
				</div>

				<div class="col-md-9">
					{% include project_info.html %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="container">
	<div class="row project-small-row">
		{% for project in projects_sorted %}

		{% if project.hidden or project.small != true or project.feature %}
		{% continue %}
		{% endif %}

		<div class="{% if project.index < 3 %}col-md-6{% else %}col-md-4{% endif %}">
			{% include project_info.html %}
		</div>
		{% if project.index == 2 %}
			</div>
			<div class="row project-small-row">
		{% endif %}

		{% endfor %}
	</div>
</div>

<div class="modal fade" id="projectDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Project details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>