<div class="project-info">
	<div class="project-name">
		{{ project.name }}
	</div>
	{% if project.subtitle %}
	<div class="project-subtitle">
		{{ project.subtitle }}
	</div>
	{% endif %}
	{% if project.technology %}
	<div class="project-technology">
		{% for tech in project.technology %}<div class="project-technology-item">
			<div class="project-technology-icon bg-{{ tech | split: "(" | first | strip | replace: "+", "p" | replace: "#", "s" | replace: " ", "-" | replace: ".", "-" | downcase }}"></div>{{ tech }}
		</div>{% endfor %}
	</div>
	{% endif %}
	<div class="project-details">
		{{ project.details_front | markdownify | remove: '<p>' | remove: '</p>' }}
	</div>
	<div class="project-facts">
		{% if project.award %}
		<div class="project-fact project-award">
			<i class="fas fa-fw fa-trophy"></i>
			{{ project.award | markdownify | remove: '<p>' | remove: '</p>' }}
		</div>
		{% endif %}
		{% if project.press %}
		<div class="project-fact project-press">
			<i class="fas fa-fw fa-newspaper"></i>
			{{ project.press | markdownify | remove: '<p>' | remove: '</p>' }}
		</div>
		{% endif %}
		{% if project.collab %}
		<div class="project-fact project-collab">
			<i class="fas fa-fw fa-user-friends"></i>
			{{ project.collab | markdownify | remove: '<p>' | remove: '</p>' }}
		</div>
		{% endif %}
		{% if project.license %}
		<div class="project-fact project-oss">
			<i class="fas fa-fw fa-gavel"></i>
			{% if project.license != "" %}
			Open source under the
				{% for license in project.license %}
					{{ license }}
					{% if project.license.first != project.license.last and license != project.license.last %}
					and 
					{% endif %}
				{% endfor %}
			{% if project.license.first != project.license.last %}
				licenses
			{% else %}
				license
			{% endif %}
			{% else %}
			Open source
			{% endif %}
		</div>
		{% endif %}
		{% if project.archived %}
		<div class="project-fact project-archived">
			<i class="fas fa-fw fa-archive"></i>
			Archived project
			{% if project.archived != "" %}
			({{ project.archived }})
			{% endif %}
		</div>
		{% endif %}
	</div>
	<div class="project-actions">
		{% if project.go_url %}
		<a href="{{ project.go_url }}" class="btn btn-primary" target="_blank" rel="noopener">{{ project.go_label | default: "Go there" }} <i class="fas fa-arrow-right"></i></a>
		{% endif %}

		{% if project.app_store_url %}
		<a href="{{ project.app_store_url }}" target="_blank" rel="noopener" class="project-app-badge project-app-badge-ios"></a>
		{% endif %}

		{% if project.play_store_url %}
		<a href="{{ project.play_store_url }}" target="_blank" rel="noopener" class="project-app-badge project-app-badge-android"></a>
		{% endif %}

		{% if project.github %}
		<a href="{{ project.github }}" class="btn btn-outline-info" target="_blank" rel="noopener"><i class="fab fa-github"></i> View source</a>
		{% endif %}

		{% for link in project.links %}
		<a href="{{ link.url }}" class="btn btn-outline-info" target="_blank" rel="noopener"><i class="fab fa-{{ link.icon }}"></i> {{ link.name }}</a>
		{% endfor %}
	</div>
	{% unless project.small or project.feature or project.hide_read_more %}
		<div class="project-expand-trigger">
			<button class="btn btn-sm btn-outline-primary"><i class="fas fa-chevron-down"></i> read <span>more</span></button>
		</div>
	{% endunless %}

	{% if project.feature %}
		{% unless project.hide_read_more %}
			<div class="project-expand-trigger">
				<button class="btn btn-sm btn-outline-primary popup">read more <i class="fas fa-arrow-right"></i></button>
			</div>
		{% endunless %}
	{% endif %}

	{% unless project.small %}
	<div class="project-expand-content" style="max-height: 0">
		{{ project.content }}
	</div>
	{% endunless %}
</div>