name: Check site

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1.267.0
      with:
        ruby-version: "3.4.7"
        bundler-cache: true

    - name: Build and check the site
      run: ./scripts/cibuild.sh